dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dpd-components==0.1.0
emoji==0.6.0
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.5
pandas==1.2.0
plotly==4.14.1
pyOpenSSL==20.0.1
python-dateutil==2.8.1
urllib3==1.26.2

